<% layout('boilerplate.ejs') %>


<div class="container-fluid my-auto d-flex justify-content-center">
    
    <div class="row ">
        
        <div class="col-4 d-flex align-items-center mt-2">
            
                <a href="/shop" class="btn btn-submit"><i class="bi bi-arrow-left-circle-fill"></i> Back</a>
        </div>
        <div class="col-12 mt-3">
            <h1 class="rice-details-header">
                <%= rice.name %>
                <% if (User && rice.user.githubID === User.id) { %>
                    <form action="/shop/<%= rice._id %>?_method=patch" method="post" style='display:inline;'><button class="btn delete-btn">Update Rice</button></form>
                    <form action="/shop/<%= rice._id %>?_method=delete" method="post" style='display:inline;'><button class="btn delete-btn">Delete Rice</button></form>
              <% } %>
            </h1>

            <hr>
        </div>
        <div class="col-md-7 col-sm-12 ">
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner" id='carousel'>  
        
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>

        <div class="col-md-5 col-sm-12 align-items-center d-flex justify-content-center mb-sm-3 mb-md-0">
            <div class="card h-100 w-100">
                <div class="card-body">
                  <h3>Rice Details:  
                  </h3>
                  <hr>
                  <h5>Desktop Environment: <%= rice.desktopEnvironment %> </h5>
                  <h5>Window Manager: <%= rice.windowManager %> </h5>
                  <h5>Gtk Theme: <%= rice.gtkTheme %> </h5>
                  <h5>Icon Theme: <%= rice.iconTheme %> </h5>
                  <h5 class="text-muted mt-4">Submitted By: <a href="https://github.com/<%= rice.url %> " class="text-muted text-decoration-none"><%= rice.user.username %></a>  </h5>
                  

                  
                  
                  <h4 class="mt-5">Like The Rice ? Paste This Link In Theme Saver and Get it for yourself</h4>
                  <hr>

                  <div class="row code">
                    <div class="col-11 d-flex justify-content-start align-items-center" >
                       <code class='overflow-auto' id='copyLinkText'><%= rice.url %>:<%= rice.branch %> </code>
                    </div>
                    <div class="col-1 d-flex justify-content-end">
                        <button class="btn  btn-copy" id='copyLink'><i class="bi bi-clipboard"></i></button>
                    </div>
                </div>
                </div>
              </div>
        </div>
    </div>
</div>

<script>
    var rice = '<%- JSON.stringify(rice) %>';
    var single = true;
    var copyIds = ['copyLink']
</script>

<script src="/javascript/copy.js"></script>

<script src="/javascript/images.js"></script>
